.Link3D_light,
.Link3D_dark {
  text-align: center;
  border-width: 3px;
  border-style: solid;
  /* Alignment */
  padding: 10px 20px;
  margin-bottom: 20px;

  /* text properties */
  text-decoration: none;
  font-size: 1.2em;
  font-family: var(--handwrite);

  /* Decoration */
  border-radius: 10px;
  font-weight: bold;

  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.Link3D_light:hover,
.Link3D_dark:hover {
  border-radius: 10px;
  transform: translate(0, 10px);
}

.Link3D_light {
  color: var(--black);
  border-color: var(--black);
  background-color: var(--white);
  box-shadow: 0px 10px var(--black);
}

.Link3D_light:hover {
  color: var(--white);
  border-color: var(--black);
  background: var(--black);
  box-shadow: 0px 0px var(--black);
}

.Link3D_dark {
  color: var(--white);
  border-color: var(--white);
  background-color: var(--black);
  box-shadow: 0px 10px var(--white);
}

.Link3D_dark:hover {
  color: var(--black);
  border-color: var(--white);
  background-color: var(--white);
  box-shadow: 0px 0px var(--white);
}
