@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kanit:900");

:root {
  /* ? Colors  */
  --bg-color: #fefeff;

  /* * Palette */
  --black: #000;
  --white: #fefeff;

  /* ? Fonts */
  --font: "Montserrat", sans-serif;
  --handwrite: "Edu SA Beginner", cursive;
  --boldFont: "Kanit", sans-serif;
}
