.Modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;

  z-index: 100;
}

.Modal-box {
  width: 100vw;
  height: 100vh;
  max-width: 500px;
  max-height: 300px;
  background: var(--white);
  border-radius: 10px;
  border: 5px solid var(--black);
  outline: 5px solid var(--white);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  position: relative;
}

.Modal-box img {
  height: 250px;
  opacity: 0.1;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Modal-box h2 {
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  font-family: var(--boldFont);
  font-size: 3em;
  z-index: 10;

  /* ? Outline*/
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: var(--black);

  /** 3D effect */
  text-shadow: 0px 1px 1px var(--black), 0px 2px 1px var(--black),
    0px 3px 1px var(--black), 0px 4px 1px var(--black), 0px 5px 1px var(--black),
    0px 6px 1px var(--black), 0px 7px 1px var(--black), 0px 8px 1px var(--black),
    0px 9px 1px var(--black), 0px 10px 1px var(--black);
}

.Modal-box p {
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

.Modal-box Button {
  grid-row-start: 4;
  grid-column-start: 2;
  z-index: 10;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}
