* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

button:hover,
input[type='submit'] {
  cursor: pointer;
}

body {
  font-family: var(--font);
  background-color: var(--bg-color);
}
